<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="sidebar">
    <h1>Check List</h1>
    <a href="/">Salas</a>
    <a href="/cadastro_equipamentos">Equipamentos</a>
    <a href="/formulario/cadastro">Formulários</a>
    <a href="">Enviar Formulários</a>
    <a href="">Configuração</a>

    <img class="detalhe-canto" src="../static/img/marca_becooper.png" alt="Detalhe decorativo">
  </div>
  {%block content%}
  {%endblock%}
</body>

</html>