<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
</head>

<body>
  <div class="sidebar">
    <h1>Check List</h1>
    <div>
      <a href="/">Salas</a>
      <a href="/cadastro_equipamentos">Equipamentos</a>
      <a href="/formulario">Formulários</a>
      <a href="/formulario/cadastro">Enviar Formulários</a>
      <a href="/configuracao">Configurações</a>
    </div>
  </div>


  <img class="detalhe-canto" src="../static/img/marca_becooper.png" alt="Detalhe decorativo">
  </div>
  
  <script>
    const links = document.querySelectorAll('.sidebar a');
    const currentPath = window.location.pathname;

    links.forEach(link => {
      if (link.getAttribute('href') === currentPath) {
        link.classList.add('active');
      }
    });
  </script>

  {%block content%}
  {%endblock%}
</body>

</html>