<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Checklist de Salas</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, msg in messages %}
        <li class="flash {{ category }}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <nav>
    <a href="{{ url_for('locacao.novo_locacao') }}">Nova Locação</a> |
    <a href="{{ url_for('locacao.novo_locacao') }}">Listar Locações</a>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
