{%extends "base.html"%}
{%block content%}

<div class="conteudo">
    <form>
        <div class="campo">
            <label for="nome">Nome</label>
            <input type="text">
        </div>
        <div class="campo">
            <label for="capacidade">Capacidade</label>
            <input type="number">
        </div>
        <a href="" style="grid-column: span 2;">
            <div class="campo">
                <button>Confirmar</button>
            </div>
        </a>
    </form>
</div>

{%endblock%}