<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Responsavel</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <form>
        <div class="campo">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">
        </div>

        <div class="campo">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="e-mail">
        </div>

        <div class="campo">
            <label for="telefone">Telefone</label>
            <input type="number" id="telefone" name="telefone">
        </div>

        <div class="campo">
            <label for="sala">Sala</label>
            <input type="text" id="sala" name="sala">
        </div>

        <div class="campo">
            <label for="data">Data Locação</label>
            <input type="date" name="data" id="data">
        </div>

        <div class="campo">
            <label for="observacoes">Observações responsável Becooper</label>
            <input type="text" name="observacoes_becooper" id="observacoes">
        </div>

        <div class="campo" style="grid-column: span 2;">
            <label for="equipamentos">Equipamentos</label>
            <input type="text" name="equipamentos" id="equipamentos">
            <button type="submit">Confirmar</button>
        </div>
    </form>
</body>

</html>