{% extends "base.html" %}
{% block content %}

<div class="conteudo">
    <table class="table-salas">
        <thead>
            <tr>
                <th>Nome Locatário</th>
                <th>Sala</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in tabela %}
            <tr>              
                <td><a href="/formulario/view/{{row.id}}" style="color: black; font-size: 16px;">{{ row.nome_locatario }}</a></td>
                <td>{{ row.sala }}</td>
                <td>{{ row.data_locacao }}</td>
                <td><a href="/formulario/{{row.id}}">🗑️</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% endblock %}