<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <main>
        <section>
            <div class="container">
                <a href="">
                    <section class="box box1">
                        <h2>Salas</h2>
                    </section>
                </a>
                <a href="">
                    <section class="box box2">
                        <h2>Formulários</h2>
                    </section>
                </a>
                <a href="">
                    <section class="box box3">
                        <h2>Configuração</h2>
                    </section>
                </a>
                <a href="">
                    <section class="box box4">
                        <h2>Enviar Formulário</h2>
                    </section>
                </a>
                <a href="">
                    <section class="box box5">
                        <h2>Equipamentos</h2>
                    </section>
                </a>
            </div>

    </main>
</body>

</html>